 
<h5 class="ui header">Add Contact</h5>
<div class="ui divider"></div>
<form name="form" role="form" class="ui secondary small form segment">
    <h5 class="ui header">Contact</h5>
    <div class="ui divider"></div>
    <div class="field">
        <label for="firstName">First Name<span style="color:Red">*</span></label>
        <input type="text" id="firstName" placeholder="First Name" required data-ng-model="contact.FirstName">
    </div>
    <div class="field">
        <label for="lastName">First Name<span style="color:Red">*</span></label>
        <input type="text" id="lastName" placeholder="Last Name" required data-ng-model="contact.LastName">
    </div>
    <div class="field">
        <label for="address">Address<span style="color:Red">*</span></label>
        <input type="text" id="address" placeholder="Address" required data-ng-model="contact.Address">
    </div>
    <div class="ui divider"></div>
    <div class="field">
        <label for="note">Note<span style="color:Red">*</span></label>
        <textarea id="note" placeholder="Note" required data-ng-model="contact.Note"></textarea>
    </div>
    <div class="ui divider"></div>
    <div class="inline field">
        <button data-ng-disabled="form.$invalid" data-ng-click="addContact(contact)" class="ui blue mini button">
            Submit
        </button>
        <a class="ui black mini button" href="/contacts">Cancel</a>

    </div>
</form>
