
<h5 class="ui header">Contacts</h5>
<div class="ui divider"></div>
<div>

    <table data-ng-table="tableParams" class="ui small table segment">
        <tr data-ng-repeat="contact in $data">
            <td data-title="'FirstName'">
                {{contact.FirstName}}
            </td>
            <td data-title="'LastName'">
                {{contact.LastName}}
            </td>
            <td data-title="'Note'">
                {{contact.Note}}
            </td>
            <td style="width: 4%;">
                <a href="/contacts/edit/{{contact.Id}}"><i class="ui icon edit"></i></a>
            </td>
            <td style="width: 4%;">
                
            </td>
        </tr>
        <tr data-ng-hide="$data">
            <td colspan="5">
                <div class="ui yellow message">
                    There are no contacts in db... Use Create new button to add new contact!
                </div>
            </td>
        </tr>
    </table>
    <div style="float: right;">
        <a class="ui mini blue button" href="/contacts/add">Create new</a>
    </div>
</div>
